.setUserData {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.userdata-form{
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    legend{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .setUserData{
        margin-bottom: 5rem;
    }
}