.historyTile{
    font-size: .7em;
    margin: 5px 0 0 0;
    background-color: #4d80e4;
    width: 100%;
    color: white;
    border-radius: 7px;
    padding: 1%;
}

td {
  padding: 10px;
}

table {
  font-size: 16px;
}

.historyBtn {
  width: 10%;
  background-color: #dff6f0;
  color: #4d80e4;
  margin-left: 1%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .history-table{
    font-size: 0.7rem;
  }
  .history-table th, .history-table td{
    padding: 0.2rem;
  }
}
