.tile{
  min-width: 49.5%;
}

.tile:last-child{
  margin-bottom: 4.55rem;
}
.tile-img{
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
}

.tile-image-div{
  width: 25%;
}

.tile-table{
  width: 75%;
  margin-top: 7px;
  color: #ffffff;
  font: inherit;
}

@media only screen and (max-width: 1360px) {
  .tile-image-div{
    width: 15%;
  }
}
