.Backdrop{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 100;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    color:white;
}

.body-card{
    display: flex;
    flex-direction: row;
}

.tile-form-consumed{
    max-width: 50%;
    margin: 0 auto;
    padding: 1%;
    transform: translateY(20%)
}
.tile-img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
}

.tile-image-div{
    width: 20%;
}

.tile-table{
    width: 100%;
    margin-top: 7px;
    color: #ffffff;
    font: inherit;
}

.tile-table-container{
    width: 75%;
}

.consumed-form{
    width: 75%;
}